<nav class="navbar sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Desing Practice</a>
  </div>
</nav>
<div class="col-lg-12 grid">

  <img class="overlap-image-inner" [style.left]="outerImageLeft" [style.top]="outerImageTop"src="https://sm.ign.com/t/ign_me/gallery/c/cyberpunk-/cyberpunk-2077-25-new-night-city-images_zujx.1080.jpg">
  <img class="overlap-image-outer" [style.left]="innerImageLeft" [style.top]="innerImageTop" src="/assets/background-moveing.png">
</div>